
/* 
.orbitron-<uniquifier> {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

img {
  width: 300;
height: 300;
top: 271px;
left: 954px;

}