
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

body {
  background-color: #7a43e7;
}

.logo {
  width: 300px;
  display: block;
  margin: 20px auto;
}

main {
  width: 375;
  background: #F4F4F4;
  border-radius: 20px;
}



