
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

body {
  background-color: #7a43e7;
}

.logo {
  width: 300px;
  display: block;
  margin: 20px auto;
}

main {
  width: 375px;
  background: #F4F4F4;
  border-radius: 20px;
  margin: 0 auto 40px;
  padding: 44px 24px 23px;
}

label {
  color: #777777;
  font-weight: 400;
  font-size: 14px;
}

select, input { /* Desse modo aplica-se o mesmo estilo para "select e input" */

  background: #FFFFFF;
  border: 1px solid;
  border-radius: 4px;
  height: 48px;
  width: 100%;
  margin-bottom: 24px;
  padding-left: 18px;
  font-weight: 700px;
  font-size: 16px;
  color: #555555;
  cursor: pointer;
}

button{
width: 100%;
height: 48px;
top: 329px;
left: 24px;
border-radius: 5px;
background: rgba(119, 47, 211, 1);
border: none;
color: #FFFFFF;
font-size: 18px;
font-weight: 700;
cursor: pointer;
}

buton:hover{
  opacity: 0.8;
}

button:active{
  opacity: 0.6;
}

section{
  border: 1px solid #7a43e7; 
  border-radius: 20px;
  margin-top: 26px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.seta-img {
  margin-top: 19px 0;

}

.currency-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.currency {
  color: #777777;
  font-size: 14px;

}

.currency-value {
  color:#555555;
  font-weight: 700;
  font-size: 20px;
}